<h3>Here is your score:</h3>

<p>Your word: <%= @try %></p>
<p>Time taken to answer: <%= @result[:time] %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
